/* MAIN--------------------------------------------------------------------------- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.imgWelcome {
    width: 250px;
    height: 250px;
    margin-right: 10px;
}

.cx-mn-inicio p {
    margin-top: 20px;
    font-size: 20px;
}

.cx-mn-inicio h1:hover {
    /* -webkit-text-stroke-width: .8px;
    -webkit-text-stroke-color: #fef083; */
    text-decoration: underline;
}

.welcome {
    display: flex;
    margin: 100px 300px;
}

.destaque-site {
    margin: 100px 250px;
}
.destaque-site h2{
    text-shadow: 3px 3px #fef083;
    font-size: 42px;
    text-align: center;
    margin: 30px 0px;
}
.destaque-revela{
    display: inline-block;
    padding: 70px 40px;
    border: 2px black solid;
    background-color: #fef083;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.a2,.a3, .a4{
    margin-left: 15px;

}
.destaque-revela:hover{
    scale: .9;
    cursor: pointer;
    box-shadow: 3px 3px 3px 3px black;
}
/* 
.verso-menu{
    margin: 10px;
    border-radius: 20px;
    display: none;
    position: absolute;
}
.verso-menu p{
    font-size: 14px;
}

.destaque-revela:hover .verso-menu{
    width: 100px;
    display: flex;
    z-index: 1; 
} */

/* MAIN--------------------------------------------------------------------------- */